@charset "UTF-8";

header {
height: 50px;
background-color: #ffcccc;
}
#wrapper {
height: 1000px;
display: flex;
}
#main {
width: 700%;
background-color: #ccffcc;
}
#menu {
width: 300%;
background-color: #ccccff;
}
footer {
height: 50px;
background-color: #ffccff;
}